/* Global styling */



body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

/* Header styling */
header {
    background-color: #636363;
    color: white;
    padding: 15px; /* Reduced padding */
    font-family: 'Arial', sans-serif;
}

header h1 {
    font-size: 1.8em; /* Reduced font size */
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h2 {
    color: #5e5e5e;
    font-size: 1.2em; /* Reduced h2 font size */
}


.grid-container .grid-item:nth-child(5n+1) audio,
.grid-container .grid-item:nth-child(5n+5) audio {
    width: 120px;  /* Reduced width for 1st and 5th columns */
    height: 25px;  /* Reduced height for 1st and 5th columns */
}



/* Flexbox for the grid container */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjusted gap to fit 5 items per row */
    justify-content: center;
}

.grid-item {
    flex: 1 1 calc(20% - 10px); /* 5 items per row */
    min-width: 150px; /* Minimum width of each item */
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: center;
}

.grid-item:hover {
    background-color: #e0e0e0;
    transform: translateY(-3px); /* Reduced hover effect */
}

/* Conversion grid styling */
.conversion-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px; /* Reduced gap */
}

.conversion-item {
    padding: 3px; /* Reduced padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #e9ecef;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Lighter shadow */
    text-align: center;
}

.conversion-item:hover {
    background-color: #d0d0d0;
    transform: translateY(-2px);
}

/* Audio control styling */
audio {
    width: 90%; /* Reduced width to make audio controls more compact */
    height: 24px; /* Slightly reduced height */
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .grid-item {
        flex: 1 1 calc(25% - 10px); /* 4 items per row */
    }
}

@media (max-width: 800px) {
    .grid-item {
        flex: 1 1 calc(50% - 10px); /* 2 items per row */
    }
}

@media (max-width: 500px) {
    .grid-item {
        flex: 1 1 100%; /* 1 item per row */
    }
}

/* Compact list styling */
.compact-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.compact-list ul li {
    margin-bottom: 3px; /* Reduced space between list items */
}

.compact-list audio {
    width: 130px; /* Further reduced width of audio controls */
    height: 20px; /* Further reduced height */
}

.compact-list h4 {
    font-size: 12px; /* Reduced font size */
    margin: 0;
    padding-bottom: 1px; /* Less space below header */
}
